<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>P2P Chat</title>
    </head>
    <body>
        <p th:text="${error}"/>
        <h1>Peer to Peer Chat program</h1>
        <form th:action="@{/}" method="POST" th:object="${user}">
            <span>Your username:</span>
            <input type="hidden" th:field="*{id}"/>
            <input type="text" name="username" th:field="*{username}"/>
            <input type="submit" value="update"/>
        </form>
        <ul>
            <li th:each="m : ${messages}">
                <p th:text="${m.username}"></p>
                <p th:text="${m.text}"></p>
            </li>
        </ul>
        <form th:action="@{/postMessage}" method="POST">
            <input type="hidden" name="username" th:value="${user.username}"/>
            <input type="text" name="message" th:value="${message}"/>
            <input type="submit" value="Send"/>
        </form>
    </body>
</html>
